name: Build and publish wheels

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-wheels:
    name: Build wheels on ${{ matrix.os }} (${{ matrix.arch }} - ${{ matrix.manylinux || 'auto' }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64
            platform: linux

          - os: windows-latest
            arch: x64
            platform: windows

          - os: macos-latest
            arch: universal2
            platform: macos

    steps:
      - name: Move temp (Windows only)
        if: runner.os == 'Windows'
        run: |
          echo "TEMP=D:\temp" >> $GITHUB_ENV
          echo "TMP=D:\temp" >> $GITHUB_ENV
          mkdir D:\temp

      - uses: actions/checkout@v4


      - uses: pypa/cibuildwheel@v2.22.0
        with:
          # Install the 'uv' extra to make uv available
          extras: "uv"


      - uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: ./wheelhouse/*.whl

      # - name: Install uv and set the Python version
      #   uses: astral-sh/setup-uv@v7
      #   with:
      #     python-version: 3.12
      #     enable-cache: true

      # - name: Build wheels
      #   run: |
      #     uvx cibuildwheel --platform ${{ matrix.platform }} \

      # - name: Upload wheels
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: wheels-${{ matrix.os }}-${{ matrix.arch }}-${{ matrix.platform }}
      #     path: dist/*.whl

  build-sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12
          enable-cache: true

      - name: Build sdist
        run: uv build --sdist

      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: dist/*.tar.gz

  publish:
    name: Publish to PyPI
    needs: [build-wheels, build-sdist]
    runs-on: ubuntu-latest
    # if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: List artifacts
        run: ls -l dist

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12
          # No caching needed for publish step
          enable-cache: false

      - name: Publish
        run: uv publish --dry-run
